@import "tailwindcss/base";

/* Custom styles to enhance the Tailwind default look */
body {
    font-family: 'Inter', sans-serif;
}

/* Header Styling */
header {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

header nav a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s;
    border: 1px solid transparent;
    border-radius: 8px;
}

header nav a:hover {
    background-color: #64d4c5; /* Light background color for hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #1a202c;
}

/* About Section */
#about {
    padding: 60px 20px;
}

#about h2 {
    color: #1a202c;
}

/* Skills Section */
#skills div {
    transition: transform 0.3s;
}

/* Footer */
footer {
    background-color: #1a202c;
    color: white;
    font-size: 0.9rem;
}

footer p {
    margin: 0;
}
